.elementor-5157 .elementor-element.elementor-element-915b658{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-widget-text-editor{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-5157 .elementor-element.elementor-element-050f91c{font-family:"Objectivity", Sans-serif;font-size:14px;font-weight:400;line-height:20px;}.elementor-widget-heading .elementor-heading-title{color:var( --e-global-color-primary );font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );text-transform:var( --e-global-typography-primary-text-transform );}.elementor-5157 .elementor-element.elementor-element-fe5a0cd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-5157 .elementor-element.elementor-element-fe5a0cd .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Objectivity", Sans-serif;font-size:30px;font-weight:700;text-transform:none;line-height:35px;}.elementor-widget-gallery .elementor-gallery-item__title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );text-transform:var( --e-global-typography-primary-text-transform );}.elementor-widget-gallery .elementor-gallery-item__description{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-gallery{--galleries-title-color-normal:var( --e-global-color-primary );--galleries-title-color-hover:var( --e-global-color-secondary );--galleries-pointer-bg-color-hover:var( --e-global-color-accent );--gallery-title-color-active:var( --e-global-color-secondary );--galleries-pointer-bg-color-active:var( --e-global-color-accent );}.elementor-widget-gallery .elementor-gallery-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );text-transform:var( --e-global-typography-primary-text-transform );}.elementor-5157 .elementor-element.elementor-element-35170f9 .e-gallery-item:hover .elementor-gallery-item__overlay, .elementor-5157 .elementor-element.elementor-element-35170f9 .e-gallery-item:focus .elementor-gallery-item__overlay{background-color:rgba(0,0,0,0.5);}.elementor-5157 .elementor-element.elementor-element-35170f9{--image-transition-duration:800ms;--overlay-transition-duration:800ms;--content-text-align:center;--content-padding:20px;--content-transition-duration:800ms;--content-transition-delay:800ms;}@media(max-width:767px){.elementor-5157 .elementor-element.elementor-element-fe5a0cd .elementor-heading-title{font-size:20px;line-height:25px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-Black.woff2') format('woff2');
}
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-Thin.woff2') format('woff2');
}
/* End Custom Fonts CSS */