.elementor-4305 .elementor-element.elementor-element-ff91b5d{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-4305 .elementor-element.elementor-element-8388fb6{--display:flex;--min-height:450px;--justify-content:flex-end;--background-transition:0.3s;--overlay-opacity:0.8;--border-radius:10px 10px 10px 10px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-4305 .elementor-element.elementor-element-8388fb6::before, .elementor-4305 .elementor-element.elementor-element-8388fb6 > .elementor-background-video-container::before, .elementor-4305 .elementor-element.elementor-element-8388fb6 > .e-con-inner > .elementor-background-video-container::before, .elementor-4305 .elementor-element.elementor-element-8388fb6 > .elementor-background-slideshow::before, .elementor-4305 .elementor-element.elementor-element-8388fb6 > .e-con-inner > .elementor-background-slideshow::before, .elementor-4305 .elementor-element.elementor-element-8388fb6 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{background-color:transparent;--background-overlay:'';background-image:linear-gradient(180deg, #FFFFFF00 0%, #000000 100%);}.elementor-4305 .elementor-element.elementor-element-8388fb6:not(.elementor-motion-effects-element-type-background), .elementor-4305 .elementor-element.elementor-element-8388fb6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-repeat:no-repeat;background-size:cover;}.elementor-4305 .elementor-element.elementor-element-8388fb6, .elementor-4305 .elementor-element.elementor-element-8388fb6::before{--border-transition:0.3s;}.elementor-4305 .elementor-element.elementor-element-5c77993{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--background-transition:0.3s;--border-radius:0px 0px 0px 0px;--margin-top:0%;--margin-bottom:0%;--margin-left:0%;--margin-right:0%;}.elementor-4305 .elementor-element.elementor-element-a9ddd16{--display:flex;--gap:5px 5px;--background-transition:0.3s;}.elementor-widget-heading .elementor-heading-title{color:var( --e-global-color-primary );font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );text-transform:var( --e-global-typography-primary-text-transform );}.elementor-4305 .elementor-element.elementor-element-31a4678 .elementor-heading-title{color:#FFC800;font-family:"Objectivity", Sans-serif;font-size:16px;font-weight:600;}.elementor-4305 .elementor-element.elementor-element-635787f .elementor-heading-title{color:#FFC800;font-family:"Objectivity", Sans-serif;font-size:16px;font-weight:600;}.elementor-4305 .elementor-element.elementor-element-4d72d63{--display:flex;--gap:5px 5px;--background-transition:0.3s;}.elementor-4305 .elementor-element.elementor-element-3d094c2 .elementor-heading-title{color:#FFFFFF;font-family:"Objectivity", Sans-serif;font-size:16px;font-weight:600;}.elementor-4305 .elementor-element.elementor-element-3992149 .elementor-heading-title{color:#FFFFFF;font-family:"Objectivity", Sans-serif;font-size:16px;font-weight:400;text-transform:capitalize;line-height:20px;}/* Start custom CSS for container, class: .elementor-element-ff91b5d */#textevent > div > h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-Black.woff2') format('woff2');
}
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'Objectivity';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('/wp-content/uploads/2024/10/Objectivity-Thin.woff2') format('woff2');
}
/* End Custom Fonts CSS */